*.log
*.pyc
fylm/tests/files
.pytest_cache/*
.cache.*
*.sqlite
*.egg
*.egg-info
.coverage*
coverage.xml
*.code-workspace
env/*
@eaDir/*
.vscode/settings.json
.vscode/tasks.json
.vscode/.ropeproject/*
