*.log
*.pyc
fylm/tests/files
.pytest_cache
.cache/*
*.sqlite
*.egg
*.egg-info
.coverage*

coverage.xml
.vscode/settings.json
*.code-workspace
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
env/*
@eaDir/*
